.aboutContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 90vh;

	h1 {
		padding: 5px;
		width: auto;
		background-color: rgba(0, 0, 0, .8);
		font-size: 40px;
		color: hsl(207,59%,59%);
		box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0px 1px 6px rgba(0,0,0,0.24);
	}
}
