.contactContainer {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 90vh;
	margin-right: auto;
	h1 {
		background-color: rgba(0, 0, 0, .8);
		color: hsl(207,59%,59%);
		font-size: 40px;
		display: inline-block;
		padding: 2px;
		box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0px 1px 6px rgba(0,0,0,0.24);
	}

	.leftContentContainer {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-left: 70px;
	}

	.rightContentContainer {
		margin-top: 10%;
		flex-grow: 1;	
		display: flex;
		flex-direction: column;
		}

	.contactForm {
		align-self: center;
	}
}
