.workContainer {
	height: 80vh;
	h1 {
		padding: 5px;
		width: auto;
		background-color: rgba(0, 0, 0, .8);
		font-size: 40px;
		color: hsl(207,59%,59%);
		display: inline-block;
		margin-top: 20px;
		margin-bottom: 10px;
		box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.24);
	}
	.work {

		overflow: scroll;
		width: 95vw;
		height: 100%;
	}
	.workContent {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: auto;
		padding: 20px;
		.content{
			width: 300px;
			height: 200px;
			background-color: black;
			border: white solid 1px;
		}

		.image {
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}

		.image:hover {
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
	}

	.work::-webkit-scrollbar {
		display: none;
	}
}
