.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh; }
  .aboutContainer h1 {
    padding: 5px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    color: #599dd4;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.24); }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  height: 55px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .navigation .logo {
    padding: 10px;
    position: absolute;
    width: 400px;
    z-index: 1; }
  .navigation .socialDropDown {
    cursor: pointer;
    color: #599dd4; }
  .navigation .socialDropDown:hover {
    color: #88c5f6; }
  .navigation ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    position: relative; }
    .navigation ul li {
      font-size: 20px;
      padding: 5px;
      list-style: none; }
      .navigation ul li a {
        text-decoration: none;
        color: #599dd4; }
      .navigation ul li a:hover {
        text-decoration: none;
        color: #88c5f6; }
  .navigation .socialMedia {
    width: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    position: absolute; }
    .navigation .socialMedia li {
      margin: 4px 0 2px 0;
      line-height: .6; }
      .navigation .socialMedia li a {
        width: auto;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.navigation ul li a {
  font-size: 20px; }

.app {
  background-image: url("../../images/background.png");
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh; }

.contactForm button {
  line-height: 32px;
  padding: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #599dd4;
  font-size: 40px;
  margin-top: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
.contactForm button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 45px;
  padding: 3px; }
.contactForm input, .contactForm select, .contactForm textarea {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  width: 400px;
  font-size: 18px;
  color: #599dd4;
  margin-bottom: -20px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.24); }
.contactForm input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #599dd4; }
.contactForm input:focus {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  color: #599dd4; }
.contactForm input:focus::-webkit-input-placeholder {
  opacity: 0; }
.contactForm .visited {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 30px;
  color: #599dd4; }
.contactForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contactContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  margin-right: auto; }
  .contactContainer h1 {
    background-color: rgba(0, 0, 0, 0.8);
    color: #599dd4;
    font-size: 40px;
    display: inline-block;
    padding: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.24); }
  .contactContainer .leftContentContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 70px; }
  .contactContainer .rightContentContainer {
    margin-top: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column; }
  .contactContainer .contactForm {
    align-self: center; }

.workContainer {
  height: 80vh; }
  .workContainer h1 {
    padding: 5px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    color: #599dd4;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24); }
  .workContainer .work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    overflow: scroll; }
  .workContainer .workContent {
    width: auto;
    padding: 20px; }
    .workContainer .workContent .content {
      width: 300px;
      height: 200px;
      background-color: black;
      border: white solid 1px; }
    .workContainer .workContent .image {
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .workContainer .workContent .image:hover {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.blogContainer {
  height: 92.8vh;
  width: 95vw;
  overflow: scroll; }
  .blogContainer h1 {
    padding: 5px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    color: #599dd4;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px; }
  .blogContainer .blogEntry {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.7); }
    .blogContainer .blogEntry .imagesContainer {
      width: 60vw;
      display: flex;
      flex-direction: row;
      overflow: scroll; }
      .blogContainer .blogEntry .imagesContainer .image {
        position: relative;
        float: left;
        width: 300px;
        height: 300px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5px; }
    .blogContainer .blogEntry h2 {
      align-self: flex-start; }

/*# sourceMappingURL=style.css.map */
